<footer class="section-p1">
  <div class="col">
    <h4>Liện Hệ</h4>
    <p><strong>Địa Chỉ:</strong> Thường Thạnh, Cái Răng, Cần Thơ, Việt Nam</p>
    <p><strong>Điện Thoại:</strong> 0963 400 865</p>
    <p><strong>Giờ Làm Việt:</strong> 6:00 Am - 20:00 PM, Mọi này trong tuần</p>

    <div class="follow">
      <h4>Mạng Xã Hội</h4>
      <div class="icon">
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-pinterest-p"></i>
        <i class="fa-brands fa-youtube"></i>
      </div>
    </div>
  </div>
  <div class="col">
    <h4>Giới Thiệu</h4>
    <a href="#">Giới Thiệu LNP Store</a>
    <a href="#">Thông Tin Giao Hàng</a>
    <a href="#">Chính Sách Bảo Mật</a>
    <a href="#">Điều Khoản & Điều Kiện</a>
    <a href="#">Liên Hệ</a>
  </div>
  <div class="col">
    <h4>Tài Khoản</h4>
    <a href="#">Đăng Nhập</a>
    <a href="#">Xem Giỏ Hàng</a>
    <a href="#">Danh Sách Yêu Thích</a>
    <a href="#">Theo Dỗi Đơn Hàng</a>
    <a href="#">Hỗ Trợ</a>
  </div>
  <div class="col install">
    <h4>Install App</h4>
    <p>From App Store or Google Play</p>
    <div class="row">
      <img src="/clients/images/app.jpg">
      <img src="/clients/images/play.jpg">
    </div>
    <p></p>
    <img class="logo" src="/clients/images/logoShop.png">
  </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>