<%- include('../layouts/header.ejs') %>

    <section id="page-header">

    </section>

    <section id="logo-brand" class="section-p1">
        <% categories.forEach( element => {%>
        <a href="">
            <img src="/<%= element.cateImage %>" alt="Image Shirt" width="60%">
        </a>
        <% }); %>
    </section>    

    <section id="product1" class="section-p1">
        <h2>Tất Cả Sản Phẩm</h2>
        <p>Sản phẩm công nghệ hiện đại mới nhất</p>
        <div class="pro-container">
            <a href="">
                <div class="pro">
                    <img src="/clients/images/detail_prod01_1.jpg" alt="Image Shirt">
                    <div class="des">
                        <span>
                            8GB / 256GB
                        </span>
                        <h5>
                            Điện thoại
                        </h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>
                            39.000.000 VNĐ
                        </h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
            </a>

            <a href="">
                <div class="pro">
                    <img src="/clients/images/detail_prod01_1.jpg" alt="Image Shirt">
                    <div class="des">
                        <span>
                            8GB / 256GB
                        </span>
                        <h5>
                            Điện thoại
                        </h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>
                            39.000.000 VNĐ
                        </h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
            </a>

            <a href="">
                <div class="pro">
                    <img src="/clients/images/detail_prod01_1.jpg" alt="Image Shirt">
                    <div class="des">
                        <span>
                            8GB / 256GB
                        </span>
                        <h5>
                            Điện thoại
                        </h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>
                            39.000.000 VNĐ
                        </h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
            </a>

            <a href="">
                <div class="pro">
                    <img src="/clients/images/detail_prod01_1.jpg" alt="Image Shirt">
                    <div class="des">
                        <span>
                            8GB / 256GB
                        </span>
                        <h5>
                            Điện thoại
                        </h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>
                            39.000.000 VNĐ
                        </h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
            </a>
        </div>

    </section>


    <section id='pagination' class='section-p1'>
        <a href="">1</a>
        <a href="">2</a>
        <a href="#"><i class="fa-solid fa-arrow-right-long"></i></a>
    </section>

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Giải quyết mọi thắc mắc</h4>
            <p>Điền thắc mắc câu hỏi của bạn để được chúng tôi hỗ trợ <span>nhanh nhất có thể.</span></p>
        </div>
        <form method="post" class="form">
            <input name="question" type="text" placeholder="Vấn đề bạn gặp phải ?">
            <button name="sendQuestion" class="normal">Gửi</button>
        </form>
    </section>

    <%- include('../layouts/footer.ejs') %>