<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LNP Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="/clients/css/style.css">

</head>

<body>
    <header id="header">
        <a href="/client/"><img src="/clients/images/logoShop.png" class="logo"></a>
        <div>
            <ul id="navbar">
                <li><a href="/client/">Trang Chủ</a></li>
                <li><a href="/client/category/list">Cửa Hàng</a></li>
                <li><a href="/client/category/new">Tin Tức</a></li>
                <li><a href="/client/category/about">Giới Thiệu</a></li>
                <li><a href="/client/category/contact">Liên Hệ</a></li>
                <li><a href="/admin">Quản Lý</a></li>
                <li id="lg-search"><a class="openBtn" onclick="openSearch()"><i class="fa fa-search"></i></a></li>
                <li id='lg-user'><a href=""><i class='fa-solid fa-user'></i></a></li>
                <li id="lg-bag"><a href=""><i class="fa-solid fa-bag-shopping"></i></a></li>
                <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a class="openBtn" onclick="openSearch()"><i class="fa fa-search"></i></a>
            <a href=""><i class="fa-solid fa-user"></i></a>';
            <a href=""><i class="fa-solid fa-user"></i></a>';
            <a href=""><i class="fa-solid fa-user"></i></a>';
            <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>

        <div id="myOverlay" class="overlay">
            <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
            <div class="overlay-content">
                <form method="POST" action="">
                    <input type="text" placeholder="Search.." name="txt_search">
                    <button type="submit" class="btn" name="search"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </header>

    <script>
        function openSearch() {
            document.getElementById("myOverlay").classList.add('show-search');
        }

        function closeSearch() {
            document.getElementById("myOverlay").classList.remove('show-search');
        }
    </script>